<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="EventLog"
                name="EventLog"
                source="AutomataExistencias"
                log="Aldebaran"
                machineName="."
                layout="${longdate} [${level:upperCase=true}] : ${message}${newline}${exception:format=ToString}"/>
    <target name="ConsoleLog" xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message}"/>
    <!--https://github.com/NLog/NLog/wiki/Examples; https://github.com/nlog/NLog/wiki/Mail-target-->
    <target name="MailLog" xsi:type="Mail"
            smtpServer="172.22.36.130"
            smtpAuthentication="None"
            smtpUserName="webmerge@directvla.com.co"
            enableSsl="true"
            subject="Mensaje desde Autómata Existencias desde ${uppercase:${machinename}}"
            layout="${longdate}${newline}
                    Nivel: ${uppercase:${level}}${newline}
                    Ubicación del error: ${callsite:className=true:includeSourcePath=true:methodName=true}${newline}    
                    Detalle del error:${newline}
                    ${message}${newline}"
            from="webmerge@directvla.com.co"
            to="anddiaz@directvla.com.co"
          />
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="EventLog" />-->
    <!--<logger name="*" minlevel="Trace" writeTo="ConsoleLog" />-->
    <!--<logger name="*" levels="Warn,Error,Fatal" writeTo="MailLog" />-->
  </rules>
</nlog>
