<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="Cataprom" connectionString="Server=(local);Database=Cataprom_aplicacion;User Id=sa;Password=Whitepawn23;" providerName="System.Data.SqlClient"/>
    <add name="Aldebaran" connectionString="database=D:\Proplasticos\DB\ALDEBARAN.FDB;user=sysdba;password=masterkey;ServerType=0;" providerName="FirebirdSql.Data.FirebirdClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Schedule.Interval" value="00:00:10"/>
    <add key="Schedule.Sequence" value="MoneyJob;UnitMeasuredJob;LinesJob;ItemsJob;ItemsByColorJob;TransitOrderJob;StockJob;PackagingJob;UpdateProcessJob"/>
    <add key="Schedule.Sequence.Reverse" value="MoneyReverseJob;UnitMeasuredReverseJob;LinesReverseJob;ItemsReverseJob;ItemsByColorReverseJob;TransitOrderReverseJob;StockReverseJob;PackagingReverseJob"/>

    <add key="Schedule.Cleaner.Active" value="false"/>
    <add key="Schedule.Cleaner" value="20:48:00"/>
    <add key="Cleaner.DaysToKeep" value="20"/>
    
    <add key="SyncAttempts" value="2"/>
    
    <add key="Service.Description" value="AutomataExistencias Service"/>
    <add key="Service.DisplayName" value="AutomataExistencias Service"/>
    <add key="Service.ServiceName" value="AutomataExistencias"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient"/>
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
    </DbProviderFactories>
  </system.data>
</configuration>
