<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="c:\temp\nlog-internal-AutomataExistencias.log">
	<targets>
		<!-- Async wrapper to protect against high logging volume and large messages -->
		<target xsi:type="AsyncWrapper" name="asyncLogfile" queueLimit="10000" overflowAction="Discard">
			<target xsi:type="File"
				fileName="C:\Log\AutomataExistencias\Log_${shortdate}.txt"
				concurrentWrites="true"
				keepFileOpen="false"
				layout="${longdate} ${uppercase:${level}} ${logger} ${message:maxlength=2000}" />
		</target>

		<target xsi:type="AsyncWrapper" name="asyncLogfile-error" queueLimit="10000" overflowAction="Discard">
			<target xsi:type="File"
				fileName="C:\Log\AutomataExistencias\Log_Error_${shortdate}.txt"
				concurrentWrites="true"
				keepFileOpen="false"
				layout="${longdate} ${uppercase:${level}} ${logger} ${message:maxlength=4000} ${exception:format=ToString,StackTrace:maxInnerExceptionLevel=5}" />
		</target>
	</targets>

	<rules>
		<!-- Do not log Trace level by default. Detailed exception traces are written only to the error file. -->
		<logger name="*" levels="Info,Warn" writeTo="asyncLogfile" />
		<logger name="*" levels="Error,Fatal" writeTo="asyncLogfile-error" />
	</rules>
</nlog>
