USE [Cataprom_aplicacion]
GO
/****** Object:  Table [dbo].[IBASE_CLIENTES]    Script Date: 5/05/2018 12:17:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IBASE_CLIENTES](
	[IDCLIENTE] [int] NOT NULL,
	[IDTIPIDENTIFICA] [int] NOT NULL,
	[NUMIDENTIFICA] [varchar](15) NOT NULL,
	[NOMCLIENTE] [varchar](50) NOT NULL,
	[TELEFONO1] [varchar](20) NOT NULL,
	[TELEFONO2] [varchar](20) NULL,
	[FAX] [varchar](20) NULL,
	[DIRECCION] [varchar](50) NOT NULL,
	[CELULAR] [varchar](15) NULL,
	[MAIL1] [varchar](250) NULL,
	[MAIL2] [varchar](250) NULL,
	[IDCIUDAD] [int] NOT NULL,
	[MAIL3] [varchar](250) NULL,
	[ENVIARMAIL] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
