USE [Cataprom_aplicacion]
GO
/****** Object:  Table [dbo].[IBASE_LINEAS]    Script Date: 5/05/2018 12:17:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IBASE_LINEAS](
	[IDLINEA] [int] NOT NULL,
	[CODLINEA] [varchar](10) NOT NULL,
	[NOMLINEA] [varchar](30) NOT NULL,
	[DEMONIO] [char](1) NULL,
	[ACTIVO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLINEA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
