USE [Cataprom_aplicacion]
GO
/****** Object:  Table [dbo].[tbl_rActualizacion]    Script Date: 5/05/2018 12:17:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_rActualizacion](
	[fechaActualizacion] [datetime] NULL
) ON [PRIMARY]

GO
