USE [Cataprom_aplicacion]
GO
/****** Object:  Table [dbo].[IBASE_ITEMSXBODEGA]    Script Date: 5/05/2018 12:17:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBASE_ITEMSXBODEGA](
	[IDITEMXCOLOR] [int] NOT NULL,
	[IDBODEGA] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDITEMXCOLOR] ASC,
	[IDBODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
