USE [Cataprom_aplicacion]
GO
/****** Object:  Table [dbo].[IBASE_EMBALAJE]    Script Date: 5/05/2018 12:17:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IBASE_EMBALAJE](
	[IDEMBALAJE] [int] NOT NULL,
	[IDITEM] [int] NOT NULL,
	[PESO] [decimal](18, 10) NULL,
	[ALTURA] [decimal](18, 10) NULL,
	[ANCHO] [decimal](18, 10) NULL,
	[LARGO] [decimal](18, 10) NULL,
	[CANTIDAD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEMBALAJE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
