USE [Cataprom_aplicacion]
GO
/****** Object:  StoredProcedure [dbo].[prc_ActualizarInformacionExistencias]    Script Date: 5/05/2018 12:17:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[prc_ActualizarInformacionExistencias]
as

DBCC CHECKIDENT (IBASE_ITEMEXISTENCIAS, RESEED,0)

DBCC CHECKIDENT (IBASE_ITEMSTRANSITO, RESEED,0)

insert into tbl_rexistencias(IDITEMXCOLOR,IDITEM, COLOR, CANTIDAD, BODEGA,IBASE_IDITEMEXISTENCIAS)
select IDITEMXCOLOR,IDITEM, COLOR, CANTIDAD, BODEGA,IBASE_IDITEMEXISTENCIAS
from IBASE_ITEMEXISTENCIAS

insert into tbl_sTransito (FECHAESTRECIBO, CANTIDADREC, FECHA, ACTIVIDAD,IDITEMXCOLOR,IDITEMTRANSITO )
select FECHAESTRECIBO, CANTIDADREC, FECHA, ACTIVIDAD,IDITEMXCOLOR  ,IDITEMTRANSITO
from IBASE_ITEMSTRANSITO


GO
