USE [Cataprom_aplicacion]
GO
/****** Object:  Table [dbo].[IBASE_ITEMEXISTENCIAS]    Script Date: 5/05/2018 12:17:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IBASE_ITEMEXISTENCIAS](
	[IBASE_IDITEMEXISTENCIAS] [int] IDENTITY(1,1) NOT NULL,
	[IDITEMXCOLOR] [int] NOT NULL,
	[IDITEM] [int] NOT NULL,
	[COLOR] [varchar](30) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[BODEGA] [varchar](30) NOT NULL,
 CONSTRAINT [PK_IBASE_ITEMEXISTENCIAS] PRIMARY KEY CLUSTERED 
(
	[IBASE_IDITEMEXISTENCIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
