USE [Cataprom_aplicacion]
GO
/****** Object:  Table [dbo].[IBASE_ITEMS]    Script Date: 5/05/2018 12:17:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IBASE_ITEMS](
	[IDITEM] [int] NOT NULL,
	[IDLINEA] [int] NOT NULL,
	[REFINTERNA] [varchar](10) NOT NULL,
	[NOMITEM] [varchar](50) NOT NULL,
	[REFPROVEEDOR] [varchar](25) NOT NULL,
	[NOMITEMPROV] [varchar](50) NOT NULL,
	[TIPOITEM] [char](1) NOT NULL,
	[COSTOFOB] [decimal](18, 10) NOT NULL,
	[IDMONEDA] [int] NOT NULL,
	[TIPPARTE] [char](1) NULL,
	[DETERMINANTE] [char](1) NULL,
	[OBSERVACIONES] [varchar](250) NULL,
	[INVENTARIOEXT] [char](1) NOT NULL,
	[COSTOCIF] [varchar](200) NULL,
	[VOLUMEN] [decimal](18, 10) NULL,
	[PESO] [decimal](18, 10) NULL,
	[IDUNIDADFOB] [int] NULL,
	[IDUNIDADCIF] [int] NULL,
	[PRODNAC] [char](1) NULL,
	[ACTIVO] [char](1) NULL,
	[CATALOGOVISIBLE] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
