USE [Cataprom_aplicacion]
GO
/****** Object:  Table [dbo].[IBASE_ITEMSTRANSITO]    Script Date: 5/05/2018 12:17:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IBASE_ITEMSTRANSITO](
	[IDITEMTRANSITO] [int] IDENTITY(1,1) NOT NULL,
	[FECHAESTRECIBO] [datetime] NOT NULL,
	[CANTIDADREC] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ACTIVIDAD] [varchar](200) NOT NULL,
	[IDITEMXCOLOR] [int] NOT NULL,
 CONSTRAINT [PK_IBASE_ITEMSTRANSITO] PRIMARY KEY CLUSTERED 
(
	[IDITEMTRANSITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
