USE [Cataprom_aplicacion]
GO
/****** Object:  Table [dbo].[IBASE_ITEMSXCOLOR]    Script Date: 5/05/2018 12:17:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IBASE_ITEMSXCOLOR](
	[IDITEMXCOLOR] [int] NOT NULL,
	[IDITEM] [int] NOT NULL,
	[REFITEMXCOLOR] [varchar](30) NOT NULL,
	[REFINTITEMXCOLOR] [varchar](10) NULL,
	[NOMCOLOR] [varchar](30) NOT NULL,
	[NOMITEMXCOLORPROV] [varchar](30) NULL,
	[OBSERVACIONES] [varchar](250) NULL,
	[COLOR] [varchar](30) NULL,
	[CANTPEDIDA] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[CANTRESERVADA] [int] NOT NULL,
	[CANTPEDIDAPAN] [int] NOT NULL,
	[CANTRESERVADAPAN] [int] NOT NULL,
	[CANTIDADPAN] [int] NOT NULL,
	[ACTIVO] [char](1) NULL,
	[AGOTADO] [char](1) NULL,
	[CANTPROCESO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDITEMXCOLOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
